*.o
*.a
.swp
.vscode

PLoV
PVoEOF
SpiralArray
SpiralArray.u1conflict
TEST.DSW
TEST.OPT
YangHuiTriangle
atof
cat1
cat2
dcl
define
define Create
echo
expand
expr
forkt
grep0
grep1
linux/execenv
linux/showenv
prnASCII
qsort
rpcalc
rpcalc2
shellsort
shuixianhua
smallsh/smallsh
sortlines
sortlines2
sortlines3
test
wordstatistic
yc

